body{
  background-color: #999;
  margin: 0;
}
.container1{
  background-color: darkblue;
  padding: 0.01rem;
}
.container1 h1{
  color: white;
  text-align: center;
}
.container2{
  padding: 1rem;
}
.container3{
  text-align: right;
}
.container4{
  margin: 2rem;
}
